<div class="form-group" ng-class="{'has-error' : submitted && tableForm.name.$invalid}">
    <label class="control-label col-md-3">Name <span class="required">* </span> </label>
    <div class="col-md-4">
        <input type="text" name="name" class="form-control" ng-model="table.name" required placeholder="name"/>
    </div>
    <div class="messages" ng-messages="tableForm.name.$error" ng-if="submitted">
      <div class="help-block" ng-message="required">* Name is required.</div>
    </div>
</div>
<div class="form-group" ng-class="{'has-error' : submitted && tableForm.description.$invalid}">
    <label class="control-label col-md-3">Description <span class="required">* </span> </label>
    <div class="col-md-4">
        <input type="text" name="description" class="form-control" ng-model="table.description" required placeholder="description"/>
    </div>
    <div class="messages" ng-messages="tableForm.description.$error" ng-if="submitted">
      <div class="help-block" ng-message="required">* Description is required.</div>
    </div>
</div>
<div class="form-group">
    <div class="pull-left">
        <a class="btn btn-default" href="#/tables"> Back</a>
        <button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
    </div>
</div>